# Online Retail Data Cleaning

### Import necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Open Online Retail file

pd.read_excel('Online retail.xlsx', index_col=0)

In [8]:
tata=pd.read_excel('Online retail.xlsx', index_col=0)

### Table info

In [10]:
tata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 541909 entries, 536365 to 581587
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    541909 non-null  object
 1   Description  540455 non-null  object
 2   Quantity     541909 non-null  int64
 3   InvoiceDate  541909 non-null  datetime64[ns]
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   406829 non-null  float64
 6   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 33.1+ MB

### Check for null values

In [11]:
tata.isnull().sum()

StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

### Drop null values: 
The CustomerId is a unique ID and can not be empty and Description also can not be empty

In [13]:
tata = tata.dropna(subset=['Description', 'CustomerID'])

In [29]:
tata.isnull().sum()

StockCode        0
Description      0
Quantity         0
InvoiceDate      0
UnitPrice        0
CustomerID       0
Country          0
year             0
month            0
Total Revenue    0
dtype: int64

In [16]:
tata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 536365 to 581587
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    406829 non-null  object
 1   Description  406829 non-null  object
 2   Quantity     406829 non-null  int64
 3   InvoiceDate  406829 non-null  datetime64[ns]
 4   UnitPrice    406829 non-null  float64
 5   CustomerID   406829 non-null  float64
 6   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 24.8+ MB

### Change the data type of CustomerID from float to string

In [17]:
tata['CustomerID'] = tata['CustomerID'].astype(str)

In [18]:
tata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 536365 to 581587
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    406829 non-null  object
 1   Description  406829 non-null  object
 2   Quantity     406829 non-null  int64
 3   InvoiceDate  406829 non-null  datetime64[ns]
 4   UnitPrice    406829 non-null  float64
 5   CustomerID   406829 non-null  object
 6   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 24.8+ MB

### Create new column Year, Month and Total Revenue

In [22]:
tata['year'] = pd.DatetimeIndex(tata['InvoiceDate']).year
tata['month'] = pd.DatetimeIndex(tata['InvoiceDate']).month

In [28]:
tata['Total Revenue']= tata['Quantity']*tata['UnitPrice']
tata.head(10)

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,Total Revenue
InvoiceNo,,,,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,15.30
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,22.00
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,2010,12,15.30
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,2010,12,25.50
536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,2010,12,11.10
536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,2010,12,11.10
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,2010,12,54.08

In [30]:
tata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 536365 to 581587
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   StockCode      406829 non-null  object
 1   Description    406829 non-null  object
 2   Quantity       406829 non-null  int64
 3   InvoiceDate    406829 non-null  datetime64[ns]
 4   UnitPrice      406829 non-null  float64
 5   CustomerID     406829 non-null  object
 6   Country        406829 non-null  object
 7   year           406829 non-null  int64
 8   month          406829 non-null  int64
 9   Total Revenue  406829 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 34.1+ MB

### Checking for duplicates
it's possible to have same invoice number appear as duplicates because one invoice can have different items listed in it. so we leave the invoice column.

In [34]:
tata.duplicated(subset = None, keep = 'first')

InvoiceNo
536365    False
536365    False
536365    False
536365    False
536365    False
          ...
581587    False
581587    False
581587    False
581587    False
581587    False
Length: 406829, dtype: bool

In [47]:
tata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 536365 to 581587
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   StockCode      406829 non-null  object
 1   Description    406829 non-null  object
 2   Quantity       406829 non-null  int64
 3   InvoiceDate    406829 non-null  datetime64[ns]
 4   UnitPrice      406829 non-null  float64
 5   CustomerID     406829 non-null  object
 6   Country        406829 non-null  object
 7   year           406829 non-null  int64
 8   month          406829 non-null  int64
 9   Total Revenue  406829 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 50.3+ MB

### Removing values in UnitPrice, Quantity and Total Revenue that has zero  values

In [48]:
tata = tata[(tata['Total Revenue'] >= 0) & (tata['UnitPrice']>=0)  & (tata['Quantity'] >=0)]

### Convert year and month to string

In [57]:
 pd.set_option('mode.chained_assignment', None)

In [58]:
tata['year'] = tata['year'].astype(str)

In [59]:
tata['month'] = tata['month'].astype(str)

In [61]:
tata.head()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,Total Revenue
InvoiceNo,,,,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,15.30
536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,22.00
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,20.34

### Write file to csv

In [66]:
tata.to_csv('tata_cleaned.csv')